@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/* color palette */
:root {
    --tab-blue:#3d77b8;
    --tab-lightblue: #729ece;
    --tab-orange: #ff7f0e;
    --tab-red: #d62728;
}


body {
    font-family: "Open sans", sans-serif;
    background-color: #ddd;
    padding: 40px;
    font-size: 14px;
    line-height: 26px;
}

.site {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaa;
    margin: 2em 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 26px;
}

p {
    margin-bottom: 26px;
}

p:last-child {
    margin-bottom: 0;
}

.header {
    padding: 40px;
    text-align: center;
}

.maintitle {
    margin: 0;
    font-weight: 600;
}

@media (min-width: 800px) {
    .maintitle {
        float: left;
    }
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--tab-blue);
}

.navigation a {
    font-weight: 700;
    color: #000;
    padding: 0 20px;
}

a.slides {
    color: var(--tab-red);
}

a:hover {
    color: var(--tab-lightblue);
}

@media (min-width: 800px) {
    .navigation {
        float: right;
    }
    .navigation a {
        padding: 0 0 0 20px;
    }
}

.content-wrapper {
    padding: 40px;
}

.footer {
    background-color: #333;
    color: white;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    font-size: 75%;
}

.footer a {
    color: var(--tab-lightblue);
    padding: 0 20px;
}

.footer a:hover {
    color: var(--tab-blue);
}

@media (min-width: 800px) {
    .footer {
        clear: both;
    }
    .footer .column {
        width: 32%;
        float: left;
        padding-right: 2%;
        margin-bottom: 2%;
    }
    .footer .column.last {
        padding-right: 0;
    }
}

.title {
    font-size: 150%;
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: 600;
}

p.caption {
    margin: 0 32px;
    margin-bottom: 48px;
    margin-top: 10px;
    line-height: 10pt;
    font-size: 85%;
    color: #666666;
}
